<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Starduck Studio, LLC, is an independent app studio based in Baltimore, Maryland. The Studio specializes in building software experiences for iPad, iPhone, and next generation computing platforms.</p>
      </div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>
    </div>
  </div>
</section>
