<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" width="250" height="250" alt="Image of a cartoon duck wearing an astronaut helmet." />
        <div class="intro-text">
          <span class="name">Starduck Studio</span>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <span class="skills">{{ site.skills }}</span>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
        </div>
      </div>
    </div>
  </div>
</header>
